<div class="container p-5">
    <div class="name-div text-center">
    <span class="h2 name col-1">AYUSH KRISHNA</span>
    </div>
    <div class="blank d-none d-md-block">
    </div>
<div class="row p-2 maincontainer">
    <div class="leftcontainer d-flex col-md-4">

        <div>
            <h5><u> CONTACT </u></h5>
            <p>9140837390
            <br>akrishna11.pec@gmail.com
            </p>
        </div>


        <div>
            <h5><u> EDUCATION </u></h5>
            
            <p><b>PG-Diploma</b>
            <br>Diploma In Advance Computing
            <br>CDAC ACTS (Pune)
            <br>Pune , 2019 - 2020
            </p>

            <p><b>M.TECH</b>
                <br>Electronics & Communication
                <br>Punjab Engineering College
                <br>Chandigarh , 2017 - 2019
            </p>

            <p><b>B.TECH</b>
                <br>Electronics & Communication
                <br>SRMGPC
                <br>Lucknow, 2012 - 2016
            </p>
        </div>


            <div>
                <h5><u> TECHNICAL SKILLS </u></h5>
                
                <p> HTML / CSS / SCSS
                    <br>JavaScript 
                    <br>Angular 8 / ReactJS
                    <br>Java
                    <br>Spring framework
                    <br>JPA
                    <br>MYSQL
                </p>
            </div>

            <div>
                <h5><u> TOOLS </u></h5>
                
                <p>Visual Studio Code
                    <br>Eclipse
                    <br>Git / Github
                    <br>Confluence
                    <br>Postman
                    <br>Microsoft Office
                </p>
            </div>

            
    </div>

    <div class="col-sm border-md-left text-justify">
        <div>
            <h5><u> CAREER OBJECTIVE </u></h5>
            <p> Software developer having knowledge of Full stack web development with ReactJS/Angular in front-end and Java 
                in back-end with 1 year industry experience in front-end web 
                development, looking forward to enhance my skill sets further in 
                both front-end and back-end web technologies
            </p>
        </div>

        <div>
            <h5><u> WORK EXPERIENCE </u></h5>
            <h5> ReactJS Developer </h5>
            <p> Cybage Pvt. Limited / September 2020 - current </p>
                <ul>
                    <li>
                        Worked within an agile team on building ReactJS components from 
                        scratch for a B2B web app using React-Admin and React Material UI 
                        library
                    </li>
                </ul> 
        </div>

        <div>
            <h5><u> PROJECTS </u></h5>
            <h5> Bestify your Time </h5>
            <p> (Nov 2020-Dec 2020) </p>
            <ul>
                <li> 
                    Built a website which hosts quizzes, puzzles and online games for 
                    the users. It also incorporates an admin interface which can add 
                    quizzes and puzzles for the users
                </li>
                <li>
                    Used : Angular 10 framework with Bootstrap library for front-end , Java with Spring Boot and JPA for back-end, MYSQL database
                </li>
                <li>
                    Github repository :
                    <br>Java Back-end : <a href="https://github.com/AyushKrishna/heroku-bestify-java"> https://github.com/AyushKrishna/heroku-bestify-java</a>
                    <br>Angular Front-end : <a href="https://github.com/AyushKrishna/heroku-bestigy-angular"> https://github.com/AyushKrishna/heroku-bestigy-angular</a>
                </li>
            </ul>

            <h5> Online Laundry Management Website </h5>
            <p> (Jan 2020 - Feb 2020) </p>
            <ul>
                <li> 
                    Built a website which deals with online requests for laundry 
services by customers. It also incorporates an admin interface 
which can remove/edit the status of the requests posted by the 
registered customers.

                </li>
                <li>
                    Used : Angular 10 framework for front-end , Java with Spring Boot and JPA for back-end, MYSQL database
                </li>
            </ul>

        </div>

    </div>
</div>

</div>