
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border-color: #CB8C1D;
    border-width: thick;
    background-color:lightyellow;
  }

.mybtn{
  width: 100px;
}
  
  