@import 'node_modules/bootstrap/scss/bootstrap.scss';

nav{
    background-color: #4C3327;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color:gold
}

.link-with-icon{
    padding-left: 10px;
    display: flex;
    flex-direction: row;  
    
    fa-icon {   
    font-size: 1.5rem;
    margin-top: 5px;
    color: white;
    }

    .nav-link{
        color: white;
    }
}

.link-with-icon:hover{
    padding-left: 10px;
    display: flex;
    flex-direction: row;  
    
    fa-icon {
        font-size: 1.8rem;
        margin-top: 3px;
        color:gold;
        // color:red;
    }

    .nav-link{
        font-size: medium;
        color:gold;
    }
}

.navbar-toggler span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(210, 183, 229, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@include media-breakpoint-down(sm) {
       fa-icon {
       padding-right: 10px;
    //    background-color: red;  // added just to see changes visually on screen
    }
}