<div>
<div class="row">
<div class="col-md-6 text-center">
<img src="./assets/images/bored1.jpg" class="img-fluid" alt="Bored image"/>
</div>
<div class="col-md">
<p class="h4"> Are you getting bored?? </p>
<p> No problem, here you can play games, solve puzzles , take quizes and make the best use of your time!!!</p>
<p> If you want to know about what this site has in store for both user and admin, then <a routerLink="about">click here</a></p>

<div id="tododiv" class="d-flex flex-column text-center">
<p class="h4"> What would you like to do ?? </p>
<button class="btn btn-primary" (click)="loginGuestUser()">Login as Guest User and check out the site </button>
<p>OR</p>
<button class="btn btn-success" (click)="loginGuestAdmin()">Login as Guest Admin and check out admin console </button>
<p>OR</p>
<h3> <a routerLink="register">Manually Register</a> or <a routerLink="login">login</a> as a user/admin.
</h3>
</div>

</div>
</div>
</div>

  