<div class="container text-center">
    <div class="card-deck">
      <div class="card" (click)="routeToUrl('user/quizzes')">
        <img src="./assets/images/quiz3.jpg" alt='quiz image'>  
        <div class="card-body">
          <h1 class="card-title">QUIZ</h1>
          <p class="card-text">Play variety of quizzes. Lets see how well you know your favorite movies or series.</p>
          <button class="btn btn-block btn-primary" (click)="routeToUrl('user/quizzes')"> ATTEMPT QUIZZES </button>
        </div>
      </div>
      <div class="card" (click)="routeToUrl('user/puzzles')">
        <img src="./assets/images/puzzle3.png" alt='puzzle image'>  
        <div class="card-body">
          <h1 class="card-title">PUZZLE</h1>
          <p class="card-text">From Brain Teasers to Logic! Everything under same roof!!!</p>
          <button class="btn btn-block btn-success" (click)="routeToUrl('user/puzzles')"> SOLVE PUZZLES </button>
        </div>
      </div>
      <div class="card" (click)="routeToUrl('user/games')">
        <img src="./assets/images/game2.jpg" alt='game image'>  
        <div class="card-body">
          <h1 class="card-title">GAMES</h1>
          <p class="card-text">Unwind with simple games.</p>
          <button class="btn btn-block btn-danger" (click)="routeToUrl('user/games')"> PLAY GAMES </button>
        </div>
      </div>
    </div>
    </div>
    
      